[class*="-dropdown"] {
    border-color: inherit;
    color: inherit;
}

/* Summer Style - STYLEMENU */

.summer-menu-container {
    background-color: rgb(var(--summer-primary));
    color: rgb(var(--summer-text));
}

.summer-dropdown-menu {
    background-color: rgba(var(--summer-default), 0.7);
    color: rgb(var(--summer-text));
}

.summer-dropdown-button {
    background-color: rgb(var(--summer-primary));
    color: rgb(var(--summer-text));
}

.summer-dropdown-item :hover {
    background-color: rgb(var(--summer-text));
    color: rgb(var(--summer-accent));
}

/* Winter Style - STYLEMENU */

.winter-menu-container {
    background-color: rgb(var(--winter-primary));
    color: rgb(var(--winter-text));
}

.winter-dropdown-menu {
    background-color: rgba(var(--winter-default), 0.7);
    color: rgb(var(--winter-text));
}

.winter-dropdown-button {
    background-color: rgb(var(--winter-primary));
    color: rgb(var(--winter-text));
}

.winter-dropdown-item :hover {
    background-color: rgb(var(--winter-text));
    color: rgb(var(--summer-accent));
}


/* Fall Style - STYLEMENU */

.fall-menu-container {
    background-color: rgb(var(--fall-primary));
    color: rgb(var(--fall-text));
}

.fall-dropdown-menu {
    background-color: rgba(var(--fall-default), 0.7);
    color: rgb(var(--fall-text));
}

.fall-dropdown-button :hover {
    background-color: rgb(var(--fall-primary));
    color: rgb(var(--fall-text));
}

.fall-dropdown-item :hover {
    background-color: rgb(var(--fall-text));
    color: rgb(var(--fall-accent));
}

/* Spring Style - STYLEMENU */

.spring-menu-container {
    background-color: rgb(var(--spring-primary));
    color: rgb(var(--spring-text));
}

.spring-dropdown-menu {
    background-color: rgba(var(--spring-default), 0.7);
    color: rgb(var(--spring-text));
}

.spring-dropdown-item :hover {
    background-color: rgb(var(--spring-text));
    color: rgb(var(--spring-accent));
}