/* Seasonal Header Styles */

/* Apply shared styles for all headers */
[class*="-header"] {
    position: relative; /* Position relative needed for the ::after pseudoelement */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Define individual background images */
.summer-header {
    background-image: var(--summer-bg);
}
.winter-header {
    background-image: var(--winter-bg);
}
.fall-header {
    background-image: var(--fall-bg);
}
.spring-header {
    background-image: var(--spring-bg);
}

/* Default h2 style inside headers */
[class*="-header"] {
    color: rgb(var(--summer-text)); /* Default color */
}

.winter-header * {
    color: rgb(var(--winter-text));
}
.fall-header * {
    color: var(--fall-primary);
}
.spring-header {
    color: var(--spring-rext);
}

