/* Seasonal Header Styles */

/* Apply shared styles for all headers */
[class*="-header"] {
    position: relative; /* Position relative needed for the ::after pseudoelement */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Define individual background images */
.summer-header {
    background-image: var(--summer-bg);
}
.winter-header {
    background-image: var(--winter-bg);
}
.fall-header {
    background-image: var(--fall-bg);
}
.spring-header {
    background-image: var(--spring-bg);
}

/* Default h2 style inside headers */
[class*="-header"] h2 {
    color: rgb(var(--summer-accent)); /* Default color */
}

/* Override h2 color for specific seasons */
.winter-header h2 {
    color: rgb(var(--winter-accent));
}
.fall-header h2 {
    color: var(--fall-accent);
}
.spring-header h2 {
    color: var(--spring-accent);
}

/* Dark transparent overlay for all headers */
[class*="-header"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Adjust darkness as needed */
    z-index: 1; /* Ensure it's behind the content */
}
