@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Kulim Park", sans-serif;
}

h1,
h2 {
    font-weight: 300;
    font-style: normal;
}

/* DEFAULT FONT-SIZE */
h1 {
    font-size: 40px;
    font-stile: normal;
}
h2 {font-size: 4.21rem;}
h3 {font-size: 3.16rem;}
h4 {font-size: 2.37rem;}
h5 {font-size: 1.78rem;}
h6 {font-size: 1.33rem;}
p  {
    font-size: 20px; 
    font-style: normal;
} 

:root {

    /* Seasonal Backgrounds  */

    --summer-bg: url("../public/header-summer-img.jpg");
    --winter-bg: url("../public/header-winter-img.jpg");
    --fall-bg: url("../public/header-fall-img.jpg");
    --spring-bg: url("../public/header-spring-img.jpg");

    /* Seasonal Schemes */

    --summer-default: 244, 241, 222;
    --summer-text: 61, 64, 91;
    --summer-primary: 224, 122, 95;
    --summer-secondary: 129, 178, 154;
    --summer-accent: 224, 122, 95;
    
    --winter-default: 88, 164, 176;
    --winter-text: 246, 255, 248;
    --winter-primary: 55, 63, 81;
    --winter-secondary: 169, 188, 208; 
    --winter-accent: 234, 244, 244;
    
    --fall-default: 216, 201, 155;
    --fall-text: 39, 62, 71;
    --fall-primary: 189, 99, 47;
    --fall-secondary: 40, 61, 59;
    --fall-accent: 216, 151, 60;
    
    --spring-default: 197, 220, 160;
    --spring-text: 129, 138, 163;
    --spring-primary: 245, 242, 184;
    --spring-secondary: 249, 218, 208;
    --spring-accent: 245, 242, 184;

}

/* Summer Style - ROOT */

.summer-style {
    background-color: rgb(var(--summer-default));
    color: rgb(var(--summer-text));
}

/* Winter Style - ROOT */

.winter-style {
    background-color: rgb(var(--winter-default));
    color: rgb(var(--winter-text));
}

/* Fall Style - ROOT */

.fall-style {
    background-color: rgb(var(--fall-default));
    color: rgb(var(--fall-text));
}

/* Spring Style - ROOT */

.spring-style {
    background-color: rgb(var(--spring-default));
    color: rgb(var(--spring-text));
}