@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --summer-bg: 255, 255, 255;
    --summer-text: 68, 119, 119;
    --summer-ui: 242, 143, 59;
    --summer-contrast: 200, 85, 61;

    --winter-bg: 11, 37, 69;
    --winter-text: 238, 244, 237;
    --winter-ui: 19, 64, 116;
    --winter-contrast: 141, 169, 196;

    --fall-bg: 241, 220, 167;
    --fall-text: 103, 83, 62;
    --fall-ui: 153, 123, 102;
    --fall-contrast: 155, 155, 122;

    --spring-bg: 108, 88, 76;
    --spring-text: 240, 234, 210;
    --spring-ui: 173, 193, 120;
    --spring-contrast: 255, 203, 105;
}


/* Summer Style - ROOT */

.summer-style {
    background-color: rgb(var(--summer-bg));
    color: rgb(var(--summer-text));
}

/* Winter Style - ROOT */

.winter-style {
    background-color: rgb(var(--winter-bg));
    color: rgb(var(--winter-text));
}

/* Fall Style - ROOT */

.fall-style {
    background-color: rgb(var(--fall-bg));
    color: rgb(var(--fall-text));
}

/* Spring Style - ROOT */

.spring-style {
    background-color: rgb(var(--spring-bg));
    color: rgb(var(--spring-text));
}
