@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Cinzel', 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --ui-color: #375171;
    --bg-color: #B4C3BA;
    --text-light: #EFF8F9;
    --text-medium: #375171;
    --text-dark: #020C3D;
    --highlight: #3b82f6;

    /* FONT SIZES */
    --general-text-size-font: 18px;
    --title-text-size-font: 40px;
    --subtitle-text-size-font: 30px;
}